In [2]:
from classes import Neuron, Layer, Network_Model
import helpers as hlp
import pandas as pd
import math
import random as rnd
import numpy as np

In [11]:
df_orig = pd.read_excel('datasets\\rgb.xlsx')
df = df_orig.copy()
df

,Name,R,G,B,Beige,Yellow,Orange,Red,Purple,Blue,Green,Grey,Brown,White,Black
0,Beige,138,102,66,1,0,0,0,0,0,0,0,0,0,0
1,Beige,169,131,7,1,0,0,0,0,0,0,0,0,0,0
2,Beige,190,189,127,1,0,0,0,0,0,0,0,0,0,0
3,Beige,194,176,120,1,0,0,0,0,0,0,0,0,0,0
4,Beige,198,166,100,1,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208,Yellow,244,169,0,0,1,0,0,0,0,0,0,0,0,0
209,Yellow,245,208,51,0,1,0,0,0,0,0,0,0,0,0
210,Yellow,248,243,53,0,1,0,0,0,0,0,0,0,0,0
211,Yellow,250,210,1,0,1,0,0,0,0,0,0,0,0,0
212,Yellow,255,255,0,0,1,0,0,0,0,0,0,0,0,0

In [12]:
df_drop = df.drop(columns=['Name', 'Beige', 'Yellow', 'Orange', 'Red', 'Purple', 'Blue', 'Green', 'Grey', 'Brown', 'White', 'Black'])
df_smpl = df_drop.sample(10)
df_smpl

       R    G    B
2    190  189  127
135  195  195  195
185  230   50   68
101   51   47   44
9    228  160   16
196  106   93   77
200  158  151  100
171  155   17   30
5    199  180   70
176  179   36   40

In [33]:
df_norm = df_smpl.copy()
print(df_norm)

data = df_norm.values.tolist()
data_transposed = list(map(list, zip(*data)))

upper_bound = 1
lower_bound = -1

for i, column in enumerate(data_transposed):
    v_max = -float('inf')
    v_min = float('inf')

    for value in column:
        if value > v_max: v_max = value
        if value < v_min: v_min = value
    
    for j, value in enumerate(column): data_transposed[i][j] = (value - v_min) / (v_max - v_min) * (upper_bound - lower_bound) + lower_bound

data_norm= list(map(list, zip(*data_transposed)))

df_norm = pd.DataFrame(data_norm, columns = ['R', 'G', 'B'])
print(df_norm)

       R    G    B
2    190  189  127
135  195  195  195
185  230   50   68
101   51   47   44
9    228  160   16
196  106   93   77
200  158  151  100
171  155   17   30
5    199  180   70
176  179   36   40
          R         G         B
0  0.553073  0.932584  0.240223
1  0.608939  1.000000  1.000000
2  1.000000 -0.629213 -0.418994
3 -1.000000 -0.662921 -0.687151
4  0.977654  0.606742 -1.000000
5 -0.385475 -0.146067 -0.318436
6  0.195531  0.505618 -0.061453
7  0.162011 -1.000000 -0.843575
8  0.653631  0.831461 -0.396648
9  0.430168 -0.786517 -0.731844